@font-face {
    font-family: Ubuntu; 
    src: url(TXT/Ubuntu-B.ttf); 
}
.list { font-family: Ubuntu; 
        background-image:url(img/fon.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: local;
        background-clip: border-box;
        background-size: cover;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right:0;
        height: 1660px;
        margin: 0 15%;
        }

li a {
    text-decoration: none;
    
    color:black;
}
li a:hover { border-top: 1px solid black;
    transition-property: all;
    transition-duration: 200ms;

} 

.contact { display: flex;
           
}

#sholl {flex: 4;
         margin-left: 4%;  
}

#nomber { flex: 2;
         display: flex;
         justify-content: space-around;
         
          
         
}
.VFI {
    display: flex;   
}
.lii {
    margin-right:30px; 
}

span {
    display: flex;
    margin-right: 15%;
    margin-top: .9em;
}


.menu {display: flex;
       flex-flow: column ; 
}
.imgg {width: 165px;
       height:72px;
       margin-left: 4%;
       margin-bottom: 2%;
       margin-top: 2%; 
}

.imggg { width: 38px;
        height: 32px; 
}
li {list-style-type: none;
}

.uul { display: flex;
     justify-content: space-around;
     width: 500px;
}
